on boot
    chown system system /dev/xiaomi-fp
    chmod 0666 /dev/xiaomi-fp
    chown system system /sys/class/mi_display/disp-DSI-0/disp_param
    chmod 0666 /sys/class/mi_display/disp-DSI-0/disp_param
